#container {
    width: 400px;
    height: 550px;
    border: 8px solid cornflowerblue;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

#display {
    border: 2px solid cornflowerblue ;
    
    height: 50px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
}

.horizontal-container {
    display: flex;
    flex: 1;
}

.number, #negate, #comma,
.operator {
   flex: 1;
}


    