h2 {
    text-align: center;
   
    font-size: 36px;
}

#container {
    width: 400px;
    height: 550px;
    border: 8px solid cornflowerblue;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    background-color:cornflowerblue;
}

#display {
    border: 2px solid cornflowerblue ;
    background-color: white;
    height: 50px;
    margin-bottom: 36px;
    margin-left: 8px;
    margin-right: 8px;
    text-align: right;
    font-size: 36px;
}

.horizontal-container {
    display: flex;
    flex: 1;
}

.number, #negate, #comma, #backspace, #clear,
.operator {
   
   flex: 1;
   background-color: rgb(142, 178, 246);
   border-radius: 8px;
   font-size: 24px;
}


#backspace {
    flex-grow: 2.18;
}

#clear, #backspace, .operator {
    background-color: goldenrod;
}

    